*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 30px;
    background-color: #151515;
    height: 100vh;
}

h1 {
    color: #fefefe;
    text-align: center;
    margin: 30px;
    font-size: 32px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;

    max-width: 1024px;
    margin: 0 auto
}

.card {
    border: 1px solid #4b5362;
    padding: 20px;
    margin: 10px;
    background-color: #31363f;
    border-radius: 10px;
    min-height: 100px;
}

button{
    border: none;
    font-size: 30px;
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    text-align: right;
    cursor: pointer;
}